# === Environment files ===
.env
.env.*
!.env.example

# === Frontend React ===
node_modules/
dist/
.pnpm-store/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.pnpm-store/
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo
*~

# === Docker ===
docker-compose.override.yml
#/docker/redis-data


# === Backups ===
*.backup
*.bak

# === 3D Assets ===
src/public/3d-meshes/**/*.gltf
src/public/3d-meshes/**/*.glb
src/public/3d-meshes/**/*.bin
src/public/3d-meshes/**/*.txt
src/public/3d-meshes/**/*.png
src/components/canvas3D/meshes/**/*.glb
